body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

h1 {
    margin-bottom: 10px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: black;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

img {
    width: 32px;
}
